{% extends 'base.html.twig' %}

{% block title %}Edit Pojazd{% endblock %}

{% block body %}
    <h1>Edit Pojazd</h1>

    {{ include('pojazd/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_pojazd_index') }}">back to list</a>

    {{ include('pojazd/_delete_form.html.twig') }}
{% endblock %}
