{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
  <div>
    <h1 class="mt-4">{{ 'dashboard.welcome'|trans }}</h1>
    <div class="mt-3">
      <h2 class="h5 mb-4">{{ 'dashboard.yourCourses'|trans }}:</h2>
      {% include 'course/detail.html.twig' %}
    </div>
  </div>
{% endblock %}
