{% extends '@EasyAdmin/crud/index.html.twig' %}

{% block main %}
  <div class="extra-content">
    {% for question in faq %}
      <div class="p-3 m-3 border border-1 border-white rounded">
        <div class="d-flex justify-content-between align-items-start">
          <h3>{{ question.title }}</h3>
          {% if is_granted('FAQ_MANAGMENT') %}
            <a
              class="btn"
              href="{{
              path(
                'dashboard',
                {
                  crudAction: 'edit',
                  crudControllerFqcn: 'App\\Controller\\FaqCrudController',
                  entityId: question.id
                }
              )
              }}"
            >
              <i class="fas fa-pencil"></i> {{ 'edit'|trans }}
            </a>
          {% endif %}
        </div>

        <p>
          {{ question.description|raw }}
        </p>
      </div>
    {% endfor %}
  </div>
{% endblock %}
